body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
svg{
  display: none;
}
#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.548);
}
#loader svg{
  width: 40vw;
  margin: 20px;
  display:inline-block;
}
#feedBack{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
}
#feedBack p{
  padding: .5em;
  background-color: #fff;
  border-radius: 10%;
}
#trans{
  position: fixed;
  top: 0;
  left: 101vw;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.87);
  transition: left 300ms ease-out;
}
ul {
  z-index: 2;
  width: 100vw;
  display: flex;
  color: #000;
  justify-content: space-around;
  align-items: center;
}
li {
  cursor: pointer;
  font-size: 3vw;
  padding-block: .5em;
  padding-inline: 6vw;
  border-radius: 1vw;
  list-style-type: none;
}

ul li:last-child {
  background-color: #b491ff;
}

li:hover {
  background-color: #91ffb4;
}

h1 {
  color: #ffb491;
  width: 100vw;
}

span {
  color: #ffb491;
  font-size: 4.1vw;
}

h2 {
  font-size: 2vw;
}

#intro {
  font-size: 4vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #888;
  background-image: linear-gradient(rgba(0, 0, 0, 0.548) 30%, rgba(125, 125, 125, 0.5) 60%, rgba(0, 0, 0, 0.548) 100%), url(background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#texts{
  margin: 0;
}
#blinker{
  height: 4.5vw;
  background-color: #fff;
  animation: blinker 1s linear 0.1s infinite;
}
#projects {
  width: 100vw;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.aProject {
  width: 20vw;
  margin-inline: 5vw;
}

.aProject>img {
  border: 2px solid #000;
  border-radius: 1vw;
  width: 20vw;
}

.more {
  display: none;
  background-color: #b491ff;
  font-size: 1em;
  width: 6em;
  padding: .5em;
  border-radius: .5em;
  cursor: pointer;
}

#github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20em;
  padding: 0;
  margin-inline: 5vw;
  cursor: pointer;
  width: 40vw;
}

#github img {
  width: 40vw;
}

#github p {
  color: #00f;
  text-align: center;
  width: 40vw;
}

#github:hover {
  border: 2px solid #b491ff;
  border-radius: 2vw;
}

#skills {
  cursor: default;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 15vw;
  height: 15vw;
  background-image: url(bothead.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.2em;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 30%;
}
#advantages{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  flex-wrap: wrap;
  width: 100vw;
  color: #fff;
  background-color: #000;
  background-image: radial-gradient(circle at top left, #b491ff, #b491ff 10%, #000 10%, transparent 100%), radial-gradient(circle at bottom right, #b491ff, #b491ff 20%, #000 20%, transparent 100%);
}
#advantages > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  text-align: center;
}
#advantages img{
  width: 20vw;
}
#hire {
  width: 85vw;
  position: relative;
  left: 0;
  font-size: 1em;
  margin-block: 3em;
  padding-inline: .5em;
  border-radius: .9em;
  cursor: pointer;
  text-align: center;
  background-color: #8865d3;
  transition: all 300ms;
}

#hireP:hover {
  letter-spacing: .5em;
}

#hireOPtions {
  flex-direction: column;
  text-align: left;
}

#hireOptions a {
  font-family: serif;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
#hire img{
  height: 1.5em;
  padding-right: 1em;
}
#about {
  width: 90vw;
  font-family: sans-serif;
  font-size: 3vw;
  word-spacing: .5vw;
}

#about img {
  margin-top: 4vw;
  width: 40vw;
  float: right;
  border: 2px solid #ffb491;
  shape-outside: polygon(0 0, 30% 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 30% 100%, 100% 100%, 100% 0);
}
#headsUp h1 {
  color: #48c4ff;
  padding: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#headsUp p:last-child {
  padding: none;
  font-family: 'Courier New', Courier, monospace;
}

#contact {
  width: 100vw;
  display: flex;
}

form {
  padding: 2em;
}

#contact label {
  display: block;
  margin: 0;
  padding: 0;
}

#contact input:not(input[type="submit"]), textarea {
  border: none;
  outline: none;
  width: 75%;
  height: 0;
  margin-block-end: 1em;
}

#contact input:not(input[type="submit"]) {
  width: 40vw;
  border: none;
  outline: none;
  border-bottom: 2px solid #b491ff;
}

#contact textarea {
  width: 45vw;
  height: 5em;
}

#contact input:not(input[type="submit"]):focus,
textarea:focus,
#contact input:not(input[type="submit"]):hover,
textarea:hover {
  width: 100%;
  height: auto;
  transition: all 2s;
}

#send {
  display: block;
  font-size: 1em;
  text-align: center;
  width: 3em;
  background-color: #b491ff;
  padding: .2em;
  border: none;
  border-radius: .3em;
}

#send:hover {
  cursor: pointer;
  background-color: #b490fe;
  padding: .3em;
}
@keyframes blinker{
  from {visibility: hidden;background-color: #000;}
  to {visibility: visible;background-color: #fff;}
}
@media only screen and (max-width: 480px) {
  h2{
    font-size: 4vw;
  }
  #intro {
    height: 56.2vw;
  }
  #texts{
    padding: 15vw;
    font-size: 7vw;
    font-family: serif;
    letter-spacing: 1vw;
  }
  span{
    font-size: 8vw;
    font-weight: 900;
    font-family: Sans-Serif;
  }
  #blinker{
    font-size: 7vw;
  }
  .aProject,
  #github p {
    width: 80vw;
  }

  .aProject>img,
  #github img {
    width: 80vw;
  }

  #github {
    width: 80vw;
    border: 2px solid #b491ff;
    border-radius: 2vw;
  }

  .more {
    width: 80vw;
    text-align: center;
  }
  #advantages div, #advantages img{
    width: 40vw;
  }
  #advantages div{
    margin-block: 2em;
  }
  #contact {
    width: 100vw;
    display: flex;
  }
  #contact textarea {
    width: 90vw;
  }

  #contact input:not(input[type="submit"]):focus {
    width: 80vw;
  }

  #contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    justify-content: center;
  }

  #contact input,
  textarea {
    width: auto;
  }
  #menu{
    display: block;
    z-index: 1;
    position: fixed;
    top: 3px;
    left: 3px;
    width: 10vw;
    background-color: #fff;
    border-radius: 1vw;
  }
  ul{
    position: fixed;
    top: 0;
    left: -101vw;
    width: 70vw;
    height: 100vh;
    color: #fff;
    background-color: #000;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;
    transition: left 300ms ease-in;
  }
  #menuContent li{
    margin-block: 1em;
  }
}